@font-face {
  font-family: 'Comfortaa';
  font-display: swap;
  src: local('Comfortaa'),
    url('/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.ff-comfortaa {
  font-family: 'Comfortaa';
}
